<div class="container-fluid">
    <div class="px-xl-5 py-5">
        <div class="add-product">
            <h2 class="mb-4">My Wishlist</h2>
              <div class="wishlist">
                <div class="row overflow-auto">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Images</th>
                    <th scope="col">Name</th>
                    <th scope="col">Stock Status</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="../../assets/images/550x750.png" class="inventory-image"></td>
                    <td>Blackdog</td>
                    <td><span class="wishlist-in-stock">In Stock</span></td>
                    <td>Liquir</td>
                    <td>₹850 <span class="mrp">(₹1560)</span></td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/images/550x750.png" class="inventory-image"></td>
                    <td>Blenders Pride</td>
                    <td><span class="wishlist-out-of-stock">Out of Stock</span></td>
                    <td>Liquir</td>
                    <td>₹850 <span class="mrp">(₹1560)</span></td>
                  </tr>
                  <tr>
                    <td><img src="../../assets/images/550x750.png" class="inventory-image"></td>
                    <td>Old MOnk</td>
                    <td><span class="wishlist-in-stock">In Stock</span></td>
                    <td>Liquir</td>
                    <td>₹850 <span class="mrp">(₹1560)</span></td>
                  </tr>
                </tbody>
              </table>
              
            </div>
        </div>
    </div>
    
</div>