<!-- <nav class="navbar navbar-expand-lg">
  <div class="container-fluid" >
    <a class="navbar-brand " href="#">MEGA TEk </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarNavDropdown"
      style="display: flex; justify-content: center"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="viewQuery" routerLinkActive="active"
            >View Query</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="viewAssignedQuery"
            routerLinkActive="active"
            >View Assigned Query</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">CodingLab</a>
  <ul class="nav-links">
    <i class="uil uil-times navCloseBtn"></i>
    <li><a href="#"routerLink="home" routerLinkActive="active">Home</a></li>
    <li><a href="#" routerLink="viewQuery" routerLinkActive="active">View Query</a></li>
    <li><a href="#"  routerLink="viewAssignedQuery"
      routerLinkActive="active">View Assigned Query</a></li>
   
  </ul>
  <i class="uil uil-search search-icon" id="searchIcon"></i>
  <div class="search-box">
    <i class="uil uil-search search-icon"></i>
    <input type="text" placeholder="Search here..." />
  </div>
</nav>