<div class="container-fluid">
  <div class="box-body tab" style="padding: 10px 10px">
    <form>
      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputAssetTag">First Name</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputAssetTag">Last Name</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputAssetTag">User Name</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputAssetTag">Password</label>
          </div>
          <div class="col-md-7">
            <input type="password" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputAssetTag"> ConfirmPassword</label>
          </div>
          <div class="col-md-7">
            <input type="password" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <input class="form-check-input" type="checkbox" value="" />
            <label class="form-check-label"> This user Can Login </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputAssetTag">Email</label>
          </div>
          <div class="col-md-7">
            <input type="email" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <input class="form-check-input" type="checkbox" value="" />
            <label class="form-check-label">
              Email this user their credentials</label
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="uploadImage">Upload Image</label>
          </div>
          <div class="col-md-7">
            <input type="file" name="file" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-5">
          <div class="col-md-3"></div>
          <div class="col-md-7">
            <i class="fa fa-1x fa-caret-down"
              ><strong>Optional Information</strong></i
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label> Select Company </label>
          </div>
          <div class="col-md-7">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label> Language </label>
          </div>
          <div class="col-md-4">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus">Employee Number</label>
          </div>
          <div class="col-md-7">
            <input type="number" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus">Title</label>
          </div>
          <div class="col-md-7">
            <input type="number" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label>Manager </label>
          </div>
          <div class="col-md-6">
            <select class="form-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="exampleFormControlSelect1">Department </label>
          </div>
          <div class="col-md-6">
            <select class="form-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputPurchase">Start Date</label>
          </div>
          <div class="col-md-5">
            <input type="date" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputPurchase">End Date</label>
          </div>
          <div class="col-md-5">
            <input type="date" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label> Location </label>
          </div>
          <div class="col-md-7">
            <select class="form-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus"> Phone</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus">Website</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus"> Adress</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus">City</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus">State</label>
          </div>
          <div class="col-md-7">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label> Country </label>
          </div>
          <div class="col-md-4">
            <select class="form-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-5">
          <div class="col-md-3">
            <label for="inputAssetname"> Zip</label>
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row mt-3">
          <div class="col-md-3">
            <label for="inputStatus">Notes</label>
          </div>
          <div class="col-md-7">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="2"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mt-5">
        <div class="box-footer">
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
