<div class="container-fluid">
    <div class="px-xl-5 py-5">
        <div class="add-product">
            <h2>Add Product</h2>
            <form action="post">
              <div class="row">
                <div class="mb-3 mt-3 col-md-6 px-2">
                  <label for="name" class="form-label">Product Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                </div>
                <div class="mb-3 mt-3 col-md-6 px-2">
                  <label for="name" class="form-label">Discription</label>
                  <input type="text" class="form-control" id="Liquir" placeholder="Discription" name="Liquir">
                </div>
                <div class="mb-3 mt-3 col-md-6 px-2">
                  <label for="name" class="form-label">Category</label>
                  <select class="form-control" id="Category">
                  <option>Grocery</option>
                  <option>Electronics</option>
                  <option>Accesories</option>
                  </select>
                </div>
                <div class="mb-3 mt-3 col-md-6 px-2">
                  <label for="name" class="form-label">Actual Price</label>
                  <input type="text" class="form-control" id="Pan" placeholder="Actual Price" name="Pan">
                </div>
                <div class="mb-3 mt-3 col-md-6 px-2">
                  <label for="name" class="form-label">Discounted Price</label>
                  <input type="text" class="form-control" id="Adhaar" placeholder="Discounted Price" name="Adhaar">
                </div>
                <div class="mb-3 mt-3 col-md-6 px-2">
                  <label for="name" class="form-label"> Upload Images (550 x 750px in less than 500kb)</label>
                  <input type="file" class="form-control" id="Date" placeholder="Uploadn Images" name="Date">
                </div>
                <div class="mt-3 col-md-6 px-2">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                </div>
                </div>
              </form> 
        </div>
    </div>
    
</div>