
<!----------------------- Main Container -------------------------->
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <!-----------------------  Container -------------------------->
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!--------------------------- Left Box ----------------------------->
    <div
      class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #103cbe"
    >
      <div class="featured-image mb-3">
        <img
          src="../../../assets/1.png"
          class="img-fluid"
          style="width: 250px"
        />
      </div>
      <p
        class="text-white fs-2"
        style="font-family: 'Courier New', Courier, monospace; font-weight: 600"
      >
        Be Verified
      </p>
    </div>

    <!-------------------- ------ Right Box ---------------------------->

    <div class="col-md-6 right-box">
      <div class="row align-items-center">
        <div class="header-text mb-4">
          <h2>Reset Password</h2>
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control form-control-lg bg-light fs-6"
            placeholder="Email address"
          />
        </div>
        <div class="input-group mb-3">
          <button
            class="btn btn-lg btn-primary w-100 fs-6"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
